{% extends 'customer/cust_home.html' %}

{% load static %}

{% block header %}


{% endblock %}





{% block content %}




<section class="banner-left ">
    <form action="" method ="POST">
        {% csrf_token %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="banner-content">
                    <div style="float: right;" ><img src="{% static 'images/cp1.png' %}" alt="" width="600px" height="500px" style="border-radius: 600px;"></div>  
                </div>
            </div>
            
            <div class="col-lg-6" style="float: right; color:white;" >
                
                <h2 style="color: rgb(129, 49, 234);" ><b><i> Change Password</i></b></h2><br /><br />
               
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label "><b>CURRENT PASSWORD:</b></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="curent_pass"><br /><br />

                    <label for="exampleFormControlInput2" class="form-label"><b>NEW PASSWORD:</b></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="new_pass"><br /><br />

                    <label for="exampleFormControlInput2" class="form-label"><b>CONFIRM NEW PASSWORD:</b></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="confirm_pass"><br /><br />
                    <center>
                    <button type="submit" class="btn btn-outline-light" style="width: 30%;">UPDATE PASSWORD</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   
                    </center>
                    <br /><br />
                   
                </div>
              
            </div>
        </div>
    </div> 
    {{msg}}
    </form>  
    
</section> 

{% endblock %}