{% extends 'customer/cust_home.html' %}
{% load static %}



{% block header %}

{% endblock %}


{% block content %}


<div class="col-lg-6" style="margin-left: 300px; color:white;" >
                
    <h2 style="color: rgb(129, 49, 234);" ><b><i>EDITING</i></b></h2><br /><br />
   
    <div class="mb-4">
        <label for="exampleFormControlInput1" class="form-label "><b>NAME</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br /><br />
        <label for="exampleFormControlInput2" class="form-label"><b>EMAIL</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br /><br />
        <label for="exampleFormControlInput2" class="form-label"><b>ADDRESS</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br /><br />
        <label for="exampleFormControlInput2" class="form-label"><b>PHONE NO</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""><br /><br />
        <!-- <label class="form-label" for="customFile"><b>UPLOAD IMG</b></label>
        <input type="file" class="form-control" id="customFile" /><br><br> -->
        
        <center>
        <button type="button" class="btn btn-outline-light" style="width: 30%;">EDIT </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        </center>
        <br /><br />
       
       </div>
  
</div>

{% endblock %}