{% extends 'seller/seller_master.html' %}
{% load static %}

    
  {% block header %}
  {% endblock %}

  {% block content %}

  <div style="color: rgb(28, 98, 239); margin-left: 500px;">
    <h3><b><i> ORDER  HISTORY </i></b> </h3>
</div><hr>

<div class="table-responsive">
    <table class="table table-primary table-hover align-middle">
        <thead>
        <tr>
          <th>S.no</th>
          <th>PRODUCT NAME</th>
          <th>PRODUCT NUMBER</th>
          <th>DATE</th>
          <th>TIME</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

            
         </tbody>
  </table>

  {% endblock %}