#parent{
    display: flex;
    flex-direction: auto;
    flex-wrap: nowrap;
    flex-basis: auto;
    width: auto;
    margin-top: 80px;
    margin-left: 50px;
}

#cc1{
    width: 700px;
   
    text-align: center;
    padding: 10px;
    

}

#cc2{
    width: 700px;
    text-align: center;
    padding: 10px;
    

}