{% extends 'ecommerce_admin/admin_master.html' %}
{% load static %}

    
  {% block header %}
  {% endblock %}

  {% block content %}

  <div style="color: rgb(81, 233, 81); margin-left: 500px;">
    <h3><b><i>ACCEPTING SELLERS</i></b> </h3>
</div><hr>

<div class="table-responsive">
    <table class="table table-success table-hover align-middle">
        <thead>
            <tr>
                <th>#No</th>
                <th>Seller Name</th>
                <th>Company Name</th>
                <th>Products Details</th>
                <th>Quntity</th>
            </tr>

        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                     <p> <a href="" class="btn btn-success">ACCEPT</a></p>
                     <p><a href="" class="btn btn-danger">REJECT</a></p>
                </td>
          
              </tr>

            
        </tbody>
 

  {% endblock %}