{% extends 'ecommerce_admin/admin_master.html' %}
{% load static %}

    
  {% block header %}
  {% endblock %}

  {% block content %}

  <div style="color: rgb(81, 233, 81); margin-left: 500px;">
    <h3><b><i>CUSTOMERS</i></b> </h3>
</div><hr>

<div class="table-responsive">
    <table class="table table-success table-hover align-middle">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>

        </thead>
        <tbody class="table-group-divider">
        </tbody>
 

  {% endblock %}